html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /*margin-bottom: 60px;*/
}

th {
    padding: 5px;
    text-align: center;
}

#carouselExampleSlidesOnly img {
    height: 600px !important;
}