@model CargoCreateViewModel

@{
	ViewData["Title"] = "Edit cargo";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>@ViewData["Title"]</title>
</head>
<body>
	<section class="content">
		<form id="editCargo" method="post">
			<div class="offset-md-3 col-md-6 offset-xl-3 col-xl-6 col-sm-12">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="card card-primary">
					<div class="card-header">
						<h3 class="card-title">Edit</h3>
					</div>
					<div class="card-body" style="display: block;">
						<div class="form-group">
							<label asp-for="Name" class="form-label"></label>
							<input asp-for="Name" class="form-control" placeholder="Cargo name" aria-required="true" />
							<span asp-validation-for="Name" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="Description" class="form-label"></label>
							<textarea id="inputDescription" asp-for="Description" class="form-control" rows="3" placeholder="Cargo details"></textarea>
						</div>
						<div class="form-group">
							<label asp-for="IsDangerous" class="form-label"></label>
							<input asp-for="IsDangerous"
								   id="IsDangerous"
								   name="IsDangerous"
								   type="checkbox" />
						</div>
						<div class="form-group">
							<label asp-for="Weight" class="form-label"></label>
							<input asp-for="Weight" class="form-control" placeholder="Weight" aria-required="true" />
							<span asp-validation-for="Weight" class="text-danger"></span>
						</div>
					</div>
					<div class="card-footer">
						<a href="/" class="btn btn-secondary">Cancel</a>
						<input type="submit" value="Edit" class="btn btn-success float-right">
					</div>
				</div>
			</div>
		</form>
	</section>
	<script src="~/js/adminlte.min.js"></script>
	<partial name="_ValidationScriptsPartial" />
</body>
</html>